 
 <!-- <map class="map-block"></map> -->
 <div class="container">
  <h2 class="container_item">Список точек присутствия РОО Новосибирский</h2>
  <!-- @if ((asyncTabs | async) === null) {
    Loading tabs...
  } -->
  <mat-tab-group preserveContent dynamicHeight>
    <mat-tab label="First">
        <filters class="container_item"></filters>
        <clients class="container_item"></clients>
    </mat-tab>
    <mat-tab label="Second">
        <div *ngIf="!mapLoaded">Loading map...</div>
        <map class="map-block" *ngIf="mapLoaded" (mapLoaded)="onMapLoaded($event)"></map>
    </mat-tab>
  </mat-tab-group>
 </div>
 
 <!-- <pre>{{clients | json}}</pre> -->
 
