.container {
    display: flex;
    flex-direction: column;
    padding: 40px
}

.container_item {
    margin-bottom: 30px;
}

.container_item:first-child {
    margin-top: 0px;
}

.map-block {
    display: block;
    height: 150px;
}

.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }